<h1>{{title}}</h1>
<div class="account">
    <label for="account">Pilih Akun</label>
    <select name="account" id="account">
        <option value="pusdatin@pnj.ac.id">Pusdatin</option>
        <option value="akademik@pnj.ac.id">Akademik</option>
        <option value="inherent@pnj.ac.id">Inherent</option>
        <option value="transformasi.digital@pnj.ac.id">Transformasi Digital</option>
        <option value="admin@pnj.ac.id">Admin</option>
    </select>
</div>
<br />
<div id="calendar"></div>
