<h1>{{title}}</h1>
<div class="account">
    <label for="account">Pilih Akun</label>
    <select name="account" id="account">
        <option value="pusdatin@pnj.ac.id">Pusdatin</option>
        <option value="dasi@pnj.ac.id">DASI</option>
        <option value="akademik@pnj.ac.id">Akademik</option>
    </select>
</div>
<br />
<div id="calendar"></div>